__pycache__
.env
*mypy_cache
*.pytest_cache

# python local dev
venv
.venv

.DS_Store
.idea
.vscode

# DBs
long_term_memory
local_vector_memory
/core/dormouse/*
*metadata.db
*metadata-v*.db
*metadata.json
*metadata-test.json
test_db.db

# old admin folder
admin

# data folder (settings and models)
core/cat/data/** */
!core/cat/data/.gitkeep

# plugins readme can stay
!core/cat/plugins/how-to-write-a-plugin.md

# tests plugin folder
plugin_folder

# cache embedder
core/local_cache/*

ollama/
core/cat/data/models/fast_embed/
core/cat/plugins/nl2gherkin/.github/workflows/main.yml
core/cat/plugins/nl2gherkin/.github/ISSUE_TEMPLATE/feature_request.md
core/cat/plugins/nl2gherkin/.github/ISSUE_TEMPLATE/bug_report.md
ollama/id_ed25519
ollama/id_ed25519.pub
